<settings> 
	<category label="30020">
		<setting label="30030" type="lsep" />
		<setting default="false" id="githubUpdateXstream" label="30010" type="bool" />
		<setting default="false" id="githubUpdateResolver" label="30015" type="bool" />
		<setting default="release" id="resolver.branch" label="W&#228;hle Resolver Github Branch" type="labelenum" values="release|nightly" visible="eq(-1,true)" />
		<setting enable="eq(-1,0)" label="[COLOR green]Release - Version direkt von Guial00&#180;s Github. [/COLOR]" type="text" visible="eq(-2,true)" />
		<setting enable="eq(-2,1)" label="[COLOR orange]Nightly - Version mit Hotfixes vom xStream Team.[/COLOR]" type="text" visible="eq(-3,true)" />
		<setting default="false" id="enforceUpdate" label="Manuelles Update aktivieren (nur einmalig)" type="bool" />
		<setting default="true" id="newSetting" label="newSetting" type="bool" visible="false" />
		<setting type="sep" />
		<setting label="30031" type="lsep" />
		<setting default="true" id="GlobalSearchPosition" label="30011" type="bool" />
		<setting default="true" id="SettingsFolder" label="30012" type="bool" />
		<setting default="true" id="replacefanart" label="30019" type="bool" />
		<setting type="sep" />
		<setting label="30032" type="lsep" />
		<setting default="2" id="prefLanguage" label="30002" type="enum" values="German|English|All" />
		<setting default="5" id="preferedQuality" label="30013" type="enum" values="240p|360p|480p|720p|1080p|Best" />
		<setting default="false" id="showAdult" label="30003" type="bool" />
		<setting type="sep" />
		<setting label="30034" type="lsep" />
		<setting default="dialog" id="hosterSelect" label="30005" type="labelenum" values="Dialog|Auto|List" />
		<setting default="100" id="maxHoster" label="30007" option="int" range="10,1,1000" type="slider" />
		<setting default="false" enable="!eq(-2,1)" id="presortHoster" label="30009" type="bool" />
		<setting type="sep" />
		<setting label="30035" type="lsep" />
		<setting default="600" id="cacheTime" label="30006" option="int" range="0,60,1800" type="slider" />
		<setting default="10" id="requestTimeout" label="30014" option="int" range="1,1,60" type="slider" />
	</category> 
	<category label="Indexseiten 1">
		<setting label="AniWorld" type="lsep" />
        <setting default="true" id="plugin_aniworld" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_aniworld" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="Dokus4" type="lsep" />
        <setting default="true" id="plugin_dokus4" label="30050" type="bool" />
        <setting default="false" id="global_search_dokus4" label="30052" type="bool" visible="eq(-1,false)" />
        <setting type="sep" />
        <setting label="FilmPalast" type="lsep" />
        <setting default="true" id="plugin_filmpalast_to" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_filmpalast_to" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="Flimmerstube" type="lsep" />
        <setting default="true" id="plugin_flimmerstube" label="30050" type="bool" />
        <setting default="false" id="global_search_flimmerstube" label="30052" type="bool" visible="eq(-1,false)" />
        <setting default="" id="flimmerstube.user" label="30083" type="text" />
        <setting default="" id="flimmerstube.pass" label="30084" option="hidden" type="text" />
        <setting type="sep" />
        <setting label="HD Filme Top" type="lsep" />
        <setting default="true" id="plugin_hdfilme_top" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_hdfilme_top" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="KinoFox" type="lsep" />
        <setting default="true" id="plugin_kinofox" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_kinofox" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="Kinoger" type="lsep" />
        <setting default="true" id="plugin_kinoger" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_kinoger" label="30052" type="bool" />
        <setting default="kinoger.com" enable="!eq(-2,false)" id="kinoger-domain" label="30051" type="labelenum" values="kinoger.com|kinoger.to" />
        <setting type="sep" />
        <setting label="Kinomax.me" type="lsep" />
        <setting default="true" id="plugin_kinomax" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_kinomax" label="30052" type="bool" />
        <setting type="sep" />
    </category> 
	<category label="Indexseiten 2">
		<setting label="KinoX" type="lsep" />
        <setting default="true" id="plugin_kinox_to" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_kinox_to" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="KKiste" type="lsep" />
        <setting default="true" id="plugin_kkiste" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_kkiste" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="Megakino" type="lsep" />
        <setting default="true" id="plugin_megakino" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_megakino" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="MovieKing" type="lsep" />
        <setting default="true" id="plugin_movieking" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_movieking" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="NetzKino" type="lsep" />
        <setting default="true" id="plugin_netzkino" label="30050" type="bool" />
        <setting default="false" id="global_search_netzkino" label="30052" type="bool" visible="eq(-1,false)" />
        <setting type="sep" />
        <setting label="SerienStream" type="lsep" />
        <setting default="true" id="plugin_serienstream_to" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_serienstream_to" label="30052" type="bool" />
        <setting default="s.to" enable="!eq(-2,false)" id="serienstream_to-domain" label="30051" type="labelenum" values="s.to|serienstream.to|186.2.175.5" />
        <setting type="sep" />
        <setting label="Streamworld" type="lsep" />
        <setting default="true" id="plugin_streamworld" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_streamworld" label="30052" type="bool" />
        <setting type="sep" />
        <setting label="XCine Top" type="lsep" />
        <setting default="true" id="plugin_xcine_top" label="30050" type="bool" />
        <setting default="true" enable="!eq(-1,false)" id="global_search_xcine_top" label="30052" type="bool" />
        <setting type="sep" />
    </category>
    <category label="TMDB">
		<setting type="sep" />
		<setting label="TMDB-Handler" type="lsep" />
		<setting default="false" id="TMDBMETA" label="TMDB verwenden" type="bool" />
		<setting default="true" enable="!eq(-1,false)" id="metaOverwrite" label="TMDB ersetzt Informationen der Webseiten" type="bool" />
		<setting default="false" enable="!eq(-2,false)" id="advanced" label="TMDB erweiterte Informationen(slow)" type="bool" />
		<setting default="w342" id="poster_tmdb" label="Posters Size" type="select" values="w92|w154|w185|w342|w500|w780|original" />
		<setting default="w1280" id="backdrop_tmdb" label="Fanarts Size" type="select" values="w300|w780|w1280|original" />
		<setting type="sep" />
		<setting label="Erweiterte Info (TMDB)" type="lsep" />
		<setting default="lightblue" id="Color" label="Farbe" type="select" values="lightblue|lightcoral|lightcyan|lightgreen|lightgrey|lightpink|lightsalmon|lightseagreen|lightskyblue|lightslategray|lightsteelblue|lightyellow|aliceblue|coral|lavender|lemonchiffon|moccasin|pink|plum|powderblue|seashell" />
	</category>
    <category label="30022">
		<setting default="false" id="auto-view" label="30060" type="bool" />
		<setting type="sep" />
		<setting default="55" enable="!eq(-2,false)" id="files-view" label="30061" type="number" />
		<setting default="503" enable="!eq(-3,false)" id="movies-view" label="30062" type="number" />
		<setting default="503" enable="!eq(-4,false)" id="tvshows-view" label="30063" type="number" />
		<setting default="504" enable="!eq(-5,false)" id="seasons-view" label="30064" type="number" />
		<setting default="504" enable="!eq(-6,false)" id="episodes-view" label="30065" type="number" />
	</category>
	<category label="30023">
		<setting label="30080" />
		<setting default="" id="download-folder" label="30081" type="folder" />
		<setting label="30070" type="sep" />
		<setting default="false" id="jd_enabled" label="30071" type="bool" />
		<setting default="127.0.0.1" enable="!eq(-1,false)" id="jd_host" label="30072" type="text" />
		<setting default="10025" enable="!eq(-2,false)" id="jd_port" label="30073" type="number" />
		<setting default="true" enable="!eq(-3,false)" id="jd_automatic_start" label="30074" type="bool" />
		<setting default="false" enable="!eq(-4,false)" id="jd_grabber" label="30075" type="bool" />
		<setting type="sep" />
		<setting default="false" id="jd2_enabled" label="30077" type="bool" />
		<setting default="127.0.0.1" enable="!eq(-1,false)" id="jd2_host" label="30072" type="text" />
		<setting default="9666" enable="!eq(-2,false)" id="jd2_port" label="30073" type="number" />
		<setting type="sep" />
		<setting default="false" id="myjd_enabled" label="30091" type="bool" />
		<setting default="JDownloader@Device" enable="!eq(-1,false)" id="myjd_device" label="30092" type="text" />
		<setting default="example@example.com" enable="!eq(-2,false)" id="myjd_user" label="30083" type="text" />
		<setting default="" enable="!eq(-3,false)" id="myjd_pass" label="30084" option="hidden" type="text" />
		<setting type="sep" />
		<setting default="false" id="pyload_enabled" label="30082" type="bool" />
		<setting default="127.0.0.1" enable="!eq(-1,false)" id="pyload_host" label="30072" type="text" />
		<setting default="8000" enable="!eq(-2,false)" id="pyload_port" label="30073" type="number" />
		<setting default="user" enable="!eq(-3,false)" id="pyload_user" label="30083" type="text" />
		<setting default="" enable="!eq(-4,false)" id="pyload_passwd" label="30084" option="hidden" type="text" />
	</category> 
    <category label="30024">
		<setting label="AniWorld" type="lsep" />
		<setting default="" id="aniworld.user" label="30083" type="text" />
		<setting default="" id="aniworld.pass" label="30084" option="hidden" type="text" />
		<setting type="sep" />
		<setting label="Flimmerstube" type="lsep" />	
		<setting default="" id="flimmerstube.user" label="30083" type="text" />
		<setting default="" id="flimmerstube.pass" label="30084" option="hidden" type="text" />
		<setting type="sep" />
		<setting label="SerienStream" type="lsep" />
		<setting default="" id="serienstream.user" label="30083" type="text" />
		<setting default="" id="serienstream.pass" label="30084" option="hidden" type="text" />
		<setting type="sep" />	
	</category> 
</settings>
